.Menu{
    float: right;
    padding-right: 20px;

}
.site-layout-background{
    background-color: #ffff;
}
.ant-image{
    float: left;
    padding-left: 5px;
}
/*.ant-layout-sider{*/
/*    flex: 0 0 250px !important;*/
/*    max-width: 250px !important;*/
/*    min-width: 250px !important;*/
/*    width: 250px !important;*/
/*}*/
/*.ant-layout-sider-trigger{*/
/*    width: 250px !important;*/

/*}*/
